<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heytap.wearable.oms.demo.phone">

    <uses-permission android:name="${service_permission}" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="targetSignature"
            android:value="${targetSignature}" />

        <meta-data
            android:name="targetPackage"
            android:value="${target_package}" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.heytap.oms.phone.demo.Test" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>